.nav {
    grid-area: n;
    background-image: linear-gradient(to right top, #2980b9, #3795ca, #47aadb, #59bfea, #6dd5fa);
}


.navItem {
  margin-top: 15px;
  padding-left: 15px;
}

.navItem a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}